################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/IFMO_CPP_programming_20180910/v15/Browse.VC.opendb
